
body {
    padding-top: 65px;
    padding-bottom: 20px;
}
.accsearchbtn{
    text-align: center;
    width:100%;
    height:200px;
    padding-top:70px;
    color:grey;
    cursor: pointer;
    border-radius: 5px;
    font-size:25px;
    background-color:rgba(230,230,230,0.2);
}
.accsearchbtn:hover{
    background-color:rgba(230,230,230,0.5);
}
.accsearchbtn:active{
    background-color:rgba(230,230,230,0.9);
}

.accpanelbody{
    height:200px;
}

.panel-acc{
}

.money-lg{
    font-size:40px;
}
.searchaccbody{
    cursor: pointer;
}
.searchaccbody:hover{
    background-color:rgba(230,230,230,0.5);
}
.searchaccbody:hover{
    background-color:rgba(230,230,230,0.9);
}

.accshowarea{
    text-align: left;
    width:100%;
    height:200px;
    color:grey;
    cursor: auto;
    border-radius: 5px;
    display: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  left:0;
  padding-top:20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  color:#0f0f0f;
}